label{
    display:block;
}
body{
    background-color: #121212;
    color:white;
}
.options{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.button-cont{
    display:flex;
    justify-content:center; 
}
button{
    padding:10px 20px;
    background-color: blue;
    color:white;
}
.logincard{
    width:350px;
}